@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto-slab);
}

body {
  background-color: var(--foreground);
  color: var(--foreground);
  font-family: var(--font-sans);
  min-height: 100vh;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body > * {
  z-index: 2;
}
